.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .body-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.desktop .body {
  position: relative;
  height: 1024px;
}

.desktop .content {
  display: flex;
  flex-direction: column;
  width: 980px;
  height: 642px;
  align-items: center;
  gap: var(--dimensions-spacing-content-1);
  position: absolute;
  top: 194px;
  left: 230px;
}

.desktop .card {
  display: flex;
  min-width: 520px;
  align-items: flex-start;
  gap: var(--dimensions-spacing-content-1);
  padding: var(--dimensions-spacing-content-1);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: calc(-1 * var(--dimensions-stroke-size));
  margin-left: calc(-1 * var(--dimensions-stroke-size));
  margin-right: calc(-1 * var(--dimensions-stroke-size));
  border-radius: var(--dimensions-radius);
  border: var(--dimensions-stroke-size) solid var(--colorscard-stroke);
}

.desktop .image {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: var(--colorsbranding-colour);
  border-radius: var(--dimensions-radius);
  overflow: hidden;
}

.desktop .overlap-group {
  position: relative;
  width: 123px;
  height: 110px;
  top: 35px;
  left: 30px;
}

.desktop .union {
  position: absolute;
  width: 123px;
  height: 80px;
  top: 29px;
  left: 0;
}

.desktop .ellipse {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 0;
  left: 14px;
  background-color: var(--colorsheadline-backgroud);
  border-radius: 18.5px;
}

.desktop .right-content {
  display: flex;
  flex-direction: column;
  min-width: 244px;
  align-items: flex-start;
  gap: var(--dimensions-spacing-content-2);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: calc(-1 * var(--dimensions-stroke-size));
  font-family: var(--typography-h2-headline-font-family);
  font-weight: var(--typography-h2-headline-font-weight);
  color: var(--colorsheadline-colour);
  font-size: var(--typography-h2-headline-font-size);
  letter-spacing: var(--typography-h2-headline-letter-spacing);
  line-height: var(--typography-h2-headline-line-height);
  white-space: nowrap;
}

.desktop .text {
  position: relative;
  align-self: stretch;
  font-family: var(--typography-paragraph-font-family);
  font-weight: var(--typography-paragraph-font-weight);
  color: #000000;
  font-size: var(--typography-paragraph-font-size);
  letter-spacing: var(--typography-paragraph-letter-spacing);
  line-height: var(--typography-paragraph-line-height);
}

.desktop .div {
  display: flex;
  min-width: 520px;
  align-items: flex-start;
  gap: var(--dimensions-spacing-content-1);
  padding: var(--dimensions-spacing-content-1);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: var(--dimensions-radius);
  border: var(--dimensions-stroke-size) solid var(--colorscard-stroke);
}

.desktop .header {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: var(--dimensions-spacing-content-1);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorsheadline-backgroud);
}

.desktop .p {
  position: relative;
  flex: 1;
  margin-top: calc(-1 * var(--dimensions-stroke-size));
  font-family: var(--typography-h1-headline-font-family);
  font-weight: var(--typography-h1-headline-font-weight);
  color: var(--colorsheadline-colour);
  font-size: var(--typography-h1-headline-font-size);
  text-align: center;
  letter-spacing: var(--typography-h1-headline-letter-spacing);
  line-height: var(--typography-h1-headline-line-height);
}