.tokensbrucke-htmlpagetest-theme {
--dimensions-radius: 8px;
--dimensions-spacing-content-1: 32px;
--dimensions-spacing-content-2: 16px;
--dimensions-stroke-size: 1px;
--colors-headline-backgroud: rgb(255, 0, 0);
--colors-branding-colour: rgb(113, 178, 255);
--colors-card-stroke: rgb(3, 160, 210);
--colors-headline-colour: rgb(78, 78, 78);
--text-styles-h1-headline-font-family: Arial;
--text-styles-h1-headline-font-style: Bold;
--text-styles-h1-headline-font-weight: 700px;
--text-styles-h1-headline-font-size: 32px;
--text-styles-h1-headline-paragraph-spacing: 0px;
--text-styles-h1-headline-letter-spacing: 0px;
--text-styles-h1-headline-line-height: 32px;
--text-styles-h2-headline-font-family: Arial;
--text-styles-h2-headline-font-style: Bold;
--text-styles-h2-headline-font-weight: 700px;
--text-styles-h2-headline-font-size: 24px;
--text-styles-h2-headline-paragraph-spacing: 0px;
--text-styles-h2-headline-letter-spacing: 0px;
--text-styles-h2-headline-line-height: 24px;
--text-styles-paragraph-font-family: Arial;
--text-styles-paragraph-font-style: Regular;
--text-styles-paragraph-font-weight: 400px;
--text-styles-paragraph-font-size: 14px;
--text-styles-paragraph-paragraph-spacing: 16px;
--text-styles-paragraph-letter-spacing: 0px;
--text-styles-paragraph-line-height: 22px;
--typography-typography-h1-headline: [object Object];
--typography-typography-h2-headline: [object Object];
--typography-typography-paragraph: [object Object];
}